blueprints/Telegram Watch Updates.blueprint.json
{
    "name": "Telegram Watch Updates",
    "flow": [
        {
            "id": 3,
            "module": "telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 2287366
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -417,
                    "y": 11
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Resume Web Hook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:telegramapi",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "ai-agent:RunAnAIAgent",
            "version": 0,
            "parameters": {},
            "mapper": {
                "agent": "8e9c4dec-1592-4b18-9bc0-94bd71af4c67",
                "timeout": "",
                "messages": [
                    "The user has started the conversation:\n\n**Chat ID**: {{3.message.chat.id}}\n**User Message**: {{3.message.text}}\n\n---\n\n## Instructions\n\nYou have received a new message from a user through the Watch Updates tool. Follow these steps:\n\n1. **Immediately respond** to the user using the appropriate tool based on their message\n2. **Analyze their input** to determine the conversation stage and required action\n3. **Engage in a user-friendly manner** with warm, professional tone\n4. **Guide them through the process** based on their needs\n\n## Action Required\n\nProcess the user's message and respond accordingly:\n\n- If it's a **greeting** (hi, hello, start, wake, I'm back): Welcome them warmly and explain what you can help with\n- If it's a **resume evaluation request** (check resume, evaluate, validate, review): Ask for Google Doc link with clear instructions\n- If it's a **Google Doc link**: Acknowledge receipt, then fetch and evaluate the resume\n- If it's **general conversation**: Engage naturally while staying focused on hiring/resume topics\n- If it's an **email address** (after evaluation): Send the report via email and confirm\n\n## Response Tools to Use\n\n- **To Send Plain Text**: For general conversation, acknowledgments, and instructions\n- **To Send Resume Report**: Only after completing full resume evaluation\n- **Get Resume Content**: When valid Google Doc link is provided\n- **Send Email**: When user provides email address after evaluation\n\n**Remember**: Always be user-friendly, respond immediately, and guide users clearly through each step of the process."
                ],
                "threadID": "",
                "outputType": "",
                "additionalSystemPrompt": ""
            },
            "metadata": {
                "designer": {
                    "x": -117,
                    "y": 11
                },
                "restore": {
                    "expect": {
                        "agent": {
                            "label": "Resume_Checker_Agent"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "outputType": {
                            "label": "Empty"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "agent",
                        "type": "aiagent",
                        "label": "Agent",
                        "required": true
                    },
                    {
                        "name": "threadID",
                        "type": "text",
                        "label": "Thread ID",
                        "validate": {
                            "max": 256
                        }
                    },
                    {
                        "name": "additionalSystemPrompt",
                        "type": "text",
                        "label": "Additional system instructions"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages"
                    },
                    {
                        "name": "timeout",
                        "type": "number",
                        "label": "Timeout",
                        "validate": {
                            "max": 600,
                            "min": 120
                        }
                    },
                    {
                        "name": "outputType",
                        "type": "select",
                        "label": "Output schema",
                        "validate": {
                            "enum": [
                                "text",
                                "make-schema"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "scenario-service:ReturnData",
            "version": 2,
            "parameters": {},
            "mapper": {
                "Chat_ID": "{{3.message.chat.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 183,
                    "y": 11
                },
                "restore": {},
                "expect": [
                    {
                        "name": "Chat_ID",
                        "type": "text",
                        "label": "",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [],
        "output_spec": [
            {
                "help": "",
                "name": "Chat_ID",
                "type": "text",
                "label": "",
                "default": "",
                "required": true,
                "multiline": false
            }
        ]
    }
}